 <div id="main"> 	
 <div id="container"> 	
 <div class="bigCircle">
      </div>
      <div class="mediumCircle">
      </div>
      <div class="littleCircle">
      </div>
      <h1>Contact Us</h1>

<form id="contactForm">

	<input id="returnAddr" type="email" name="" value="" placeholder="Enter email address for response"> <br>
	<textarea id="message" name=""></textarea><br>
	<input type="submit" id="submitBtn" name="" value="Send">
</form>
 </div>
 </div>