<div id="main">

  <div id="container">
    <div id="centeredHeader">
      <div class="bigCircle">
      </div>
      <div class="mediumCircle">
      </div>
      <div class="littleCircle">
      </div>

      <h1>FAQ</h1>
      <div class="littleCircle">
      </div>
      <div class="mediumCircle">
      </div>
      <div class="bigCircle">
      </div>
    </div>
    <div id="questionStage">
      	<div id="questionForm" >

  			<div class="question" id="q1" >
  				<h3 class="questionHeader">What percentage is the oxygen?</h3>
  			</div>
  			<div class="answer" id="a1">
  				<p>We use 40% oxygen.</p>
  			</div>
  			<div class="question" id="q2" >
  				<h3 class="questionHeader">What 'flavors' do you provide?</h3>
  			</div>
  			<div class="answer" id="a2">
  				<p>Besides the standard fare, we also offer Watermellon, Mint, Orange, Strawberry, and our newest selection Alpine Breeze.</p>
  			</div>
  			<div class="question" id="q3" >
  				<h3 class="questionHeader">What's the benefit of visiting an oxygen bar?</h3>
  			</div>
  			<div class="answer" id="a3">
  				<p>Our frequent visitors say it boosts energy levels, increases your endurance during exercise, helps you bounce back more quickly from physical exertion, provides relief from stress and pollution, increases your concentration, helps you relax, and eases headaches and hangovers.</p>
  			</div>
  			<div class="question" id="q4" >
  				<h3 class="questionHeader">How long is a typical session?</h3>
  			</div>
  			<div class="answer" id="a4">
  				<p>We offer sessions from as low as 5 minutes to as long as 20 minutes. We take reservations, but walk-ins are always welcome!</p>
  			</div>
      </div>
    </div>
  </div>
</div>
<script src="scripts/faq.js" type="text/javascript" charset="utf-8" ></script>
