<div id="main">
  <div id="container">

    <div id="centeredHeader">
      <div class="bigCircle">
      </div>
      <div class="mediumCircle">
      </div>
      <div class="littleCircle">
      </div>

      <h1>Welcome</h1>
      <div class="littleCircle">
      </div>
      <div class="mediumCircle">
      </div>
      <div class="bigCircle">
      </div>
    </div>
    <img src="/images/breath.jpg" class="ritten">
    <div class="bodyText">
      <p>

        Everyone needs a breath of fresh air. WE NEED OXYGEN! Our Oxygen Bars bring you the invigoration of concentrated oxygen infused with aromatherapy in a colorful and entertaining way, making it a unique and fun social experience! Feel your stress wash away as vitality, vim and vigor are restored to your cells when you inhale aroma rich oxygen. Feel your mind clear, muscles relax and energize as our scented oxygen begins enhancing your mood and overall energy level.
      </p>
      <p>
        Oxygen bars combine pure oxygen with elements of aromatherapy for an uplifting, refreshing and positive experience. People throughout the world are discovering the joys of oxygen bars. Users report an increased sense of energy and relaxation, hangover relief, improved stamina, improved mental clarity, relief from stress, and feeling more awake.
      </p>
    </div>


  </div>
</div>
