<div id="main">
  <div id="container">
    <div class="header">

      <div class="bigCircle">
      </div>
      <div class="mediumCircle">
      </div>
      <div class="littleCircle">
      </div>
      <h1>Location</h1>
      <p>
        <img src="/images/rittenhouse.jpg" class="ritten">
        We are located in beautiful Rittenhouse Square in Philadelphia, Pennsylvania.
        Rittenhouse Square is one of the five original open-space parks planned by William Penn and his surveyor Thomas Holme during the late 17th century in central Philadelphia. The park is widely considered one of the finest urban public spaces in the United States.
      </p>
      <p>
        The square cuts off 19th Street at Walnut Street and also at a half block above Manning Street. Its boundaries are 18th Street to the East, Walnut St. to the north, Rittenhouse Square West (a north-south boundary street), and Rittenhouse Square South (an east-west boundary street), making the park approximately two short blocks on each side.
      </p>

    </div>
    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6117.413116970193!2d-75.17487905427987!3d39.94795299233108!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6c63ba89a53cd%3A0x9a21f09ff2e9fc3c!2sRittenhouse+Square%2C+Philadelphia%2C+PA!5e0!3m2!1sen!2sus!4v1455920488372" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
