<div id="main">
  <div id="container">
    <div class="header">

      <div class="bigCircle">
      </div>
      <div class="mediumCircle">
      </div>
      <div class="littleCircle">
      </div>
      <h1>Location</h1>
      <p>
        aww yeaNotice the order of those properties: the vendor prefixes are listed first and the non-prefixed "spec" version is listed last. This is the correct way to do it. Border radius is a particularly good example of why we do it that way. In slightly more complicated version of using border-radius (where you pass two values instead of one) the older -webkit- vendor prefix would do something entirely different than the "spec" version. So if we blindly copy/paste the same values to all three properties, we could see different results cross-browser. Learn more about this scenario. For the most consistency long-term, it's best to list the "spec" version last.
      </p>

    </div>
  </div>
</div>
