#background {
    width: 100%;
    height: 200px;
    background-color: blue;
}

#footer {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    background-color: blue;
}

#contactForm{
	padding-top: 50px;
	position: relative;
	left:20%;
}

#returnAddr{
	margin-bottom: 10px;
	width: 250px;
}
#message{
	height: 400px;
	width: 50%;
}
